/*Header styles*/

.header_section {
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 75em) {
  /* 1200px */

  .navigation {
    justify-content: flex-start;
    gap: 2rem;
  }
}

@media (max-width: 37.5em) {
  .navigation {
    justify-content: space-between;
    align-items: center;
    padding-right: 6rem;
  }
}
