.section_footer {
  width: 100%;
  height: 100%;
  padding: 7.3rem 21.3rem 10rem;
  background-color: var(--pure-black);
  color: var(--pure-white);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__links {
  display: flex;
}
