.section_blog {
  width: 100%;
  height: 100%;
  padding-top: 10rem;
}

.blog__image {
  width: 100%;
  height: 79.5rem;
  margin-top: 5.9rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  background-image: url("../../../public/assets/images/research-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 7.2rem;
  padding-bottom: 5rem;
}

.blog__logo-box {
  padding: 2.8rem 15rem 16rem 18rem;
}

.blog__btn-box {
  margin-bottom: 14.5rem;
}

.blog__text-box {
  width: 70%;
  padding: 0 5rem 10rem;
  border-left: 1px solid var(--light-blue);
}

.blog__title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: var(--semi-light-blue);
  margin-bottom: 2rem;
}

.blog__sub-title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 4rem;
  color: var(--pure-black);
  margin-bottom: 2rem;
}

.blog__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--pure-black);
  margin-bottom: 4rem;
}

.blog__icon-set {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.blog__icon-box {
  width: 7.7rem;
  height: 11rem;
  margin-bottom: 1.9rem;
  padding-top: 2.5rem;
  border-top: 8px solid var(--dark-orange);
}

.blog__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__icon-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.9rem;
  color: var(--pure-black);
}

@media (max-width: 37.5em) {
  .blog__image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
