.hero-wrapper {
  background-image: linear-gradient(
      rgba(0, 102, 153, 0.3),
      rgba(0, 102, 153, 0.3)
    ),
    url(../../../public/assets/images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 61.7rem;
  padding-top: 2rem;
}

.hero__text-box {
  width: 95.3rem;
  height: 36.5rem;
  margin: 0 4.9rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heading-primary {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 6.3rem;
  text-transform: uppercase;
  color: var(--pure-white);
  margin-bottom: 1.5rem;
}

.hero__text {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--pure-white);
}
