.hero-wrapper {
  display: block;
  box-sizing: border-box;
  background-image: linear-gradient(
      rgba(0, 102, 153, 0.3),
      rgba(0, 102, 153, 0.3)
    ),
    url(../../../public/assets/images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: calc(100vh - 20rem);
}

.hero__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 100%;
  padding: 2rem 5rem;
}

.hero__text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heading-primary {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 6.3rem;
  text-transform: uppercase;
  color: var(--pure-white);
  margin-bottom: 1.5rem;
}

.hero__text {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--pure-white);
}

.hero__btn-wrapper {
  margin: 3.2rem 0rem;
}

@media (max-width: 37.5em) {
  .hero-wrapper {
    height: calc(100vh - 13.6rem);
  }
  .hero__main-content {
    width: 100%;
  }
  .hero__text-box {
    height: auto;
    /* margin: 0 2.4rem; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading-primary {
    font-size: 2.8rem;
  }

  .hero__text {
    font-size: 1.6rem;
  }
}
