.section_withUs {
  width: 100%;
  height: 100%;
  background-color: var(--pure-white);
  padding-right: 4rem;
}

.withUs__heading {
  width: 80%;
  margin: 3.8rem auto 3rem;
}

.withUs__bg-wrapper {
  width: 100%;
  height: 80rem;
  background-image: url("../../../public/assets/images/cancer-institute.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.withUs__bg-text-box {
  width: 58.3rem;
  height: 49.4rem;
  background: rgba(0, 102, 153, 0.5);
  margin: 12.3rem 6.7rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9.2rem;
}

.withUs__text {
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 4.9rem;
  color: var(--pure-white);
}

/*With Us Info section*/

.withUs_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 9.1rem 10rem 15.3rem;
}

.withUs_info__content {
  width: 70%;
}

.withUs_info__heading {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 4rem;
  color: var(--pure-black);
}

.withUs_info__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--pure-black);
}

.withUs_info__text--span {
  font-weight: 700;
  color: var(--pure-black);
}

.withUs_info__count-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.withUs_info__count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.withUs_info__count--num {
  display: block;
  font-weight: 600;
  font-size: 6.9rem;
  line-height: 6.9rem;
  color: var(--light-blue);
}

.withUs_info__count--text {
  display: block;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 4.8rem;
  color: var(--light-gray);
}

.withUs__btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7.2rem;
}

.btn-wrapper {
  margin-top: 6rem;
}

@media (max-width: 37.5em) {
  .section_withUs {
    padding-right: 0;
  }

  .withUs__bg-wrapper {
    justify-content: center;
  }

  .withUs__bg-text-box {
    width: 42rem;
    height: 48rem;
    padding: 8rem;
  }

  .withUs__text {
    font-size: 1.8rem;
    line-height: 3.9rem;
  }

  .withUs_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem 8rem;
  }

  .withUs_info__content {
    width: 100%;
  }

  .withUs_info__count-box {
    margin-top: 2rem;
    width: 100%;
  }

  .withUs__btn-box {
    margin-top: 5rem;
  }
}
