/*Card styles*/

.card {
  width: 70rem;
  height: 75rem;
  text-align: center;
  padding: 5rem;
}

/*Card Typography*/

.card__title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5.4rem;
  color: var(--pure-white);

  margin-bottom: 2rem;
}

.card__sub-title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 4rem;
  color: var(--pure-white);

  margin-bottom: 3.9rem;
}

.card__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--pure-white);
}

/* Card Layout */

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.card__text:not(:last-child) {
  margin-bottom: 1.9rem;
}

.news__card {
  background-color: rgba(150, 0, 77, 0.7);
}

.blog__card {
  background-color: rgba(74, 34, 86, 0.7);
}

.service__card {
  width: 52rem;
  height: 42.6rem;
  background: var(--pure-white);
  box-shadow: 2px 2px 3rem rgba(156, 156, 192, 0.26);
  border-radius: 0.6rem;
  border-radius: 5px;
}

.service__card-image {
  height: 60%;
}

.service__card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.service__card-details {
  padding: 5.3rem 4rem;
}

.service__card-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;

  color: var(--pure-black);
}

.contact__card {
  width: 38.7rem;
  height: 57.2rem;

  background: var(--pure-white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}

.contact__card-image {
  width: 100%;
  height: 50%;
}

.contact__card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}

.contact__card-details {
  height: 50%;
  width: 100%;
  padding: 2rem;
}

.contact__card-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--pure-black);

  margin-bottom: 1.7rem;
}

.contact__card-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #777777;
}

@media (max-width: 56.25em) {
  .service__card {
    width: 45rem;
    height: 42rem;
  }
}

@media (max-width: 37.5em) {
  .card {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5rem;
  }
}
